{% assign title = include.title | default : '' %}
{% assign url = include.url | default : '' %}
{% assign author = include.author | default : '' %}
{% assign excerpt = include.excerpt | default : '' %}

{% if title.size > 0 and url.size > 0 and excerpt.size > 0 %}
<summary class="blog">
    <section class="blog-summary-header">
        <h5>
            <a href="{{ site.baseurl }}{{ url }}">{{ title }}</a>
        </h5>

        {%
            include written-on.html
            date=include.date
            author=author
        %}
    </section>
    
    {% if site.blog.excerpt-enabled %}
    <p>{{ excerpt | strip_html | normalize_whitespace | truncate: 300 | escape }}{% if site.blog.read-more-enabled %} <a href="{{ site.baseurl }}{{ url }}">{{ site.blog.read-more-text }}</a>{% endif %}</p>
    {% endif %}
</summary>
{% endif %}